* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {font-family: 'inter' , sans-serif;
background-color: #0f172a;
overflow-x: hidden;}

.page {
  height: 100vh; 
  flex-direction: column;         
  display: flex;
  font-size: 2rem;
}
img {
    width: 100%;
    height: auto;
}
.section1 {
    background-image: url('background1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.section4 {height: auto;}
.section2 ,
.section3 ,
.section4 {background-color: #ffffff; margin-top: 10px;}
.about {
    top: 12%;
    left: 42%;
    position: absolute;
}
.about h1 {
     font-family: "Sacramento", cursive;
     color: white;
     font-size: 7rem;
     margin-bottom: 0;
}
.about p{
    font-family: serif;
    font-size: 2.5rem;
    color: white;
    margin-top: 0;
    text-align: center;
}
.profile-pic {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
img {height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
    background-color: #b0b0b0;
}
p{
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Merriweather Sans", sans-serif;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
ul {
  font-size: 1.5rem;
  line-height: 2;
  list-style: none;
  text-align: center;
}
h2 {text-align: center;
  font-family: "Merriweather Sans", sans-serif;
margin: 40px;
    color: rgb(102, 191, 191);
  font-size: 2.5rem;}
  h3 {font-size: 1.5rem;
  font-family: sans-serif;}
.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}
.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #f5f5f5;
  border-radius: 12px;
  max-width: 500px;
  margin: 20px;
  padding: 15px;
}
.project-box:hover {
  transform: translate(-5px);
  transition: 0.3s ease;
}
.description {text-align: justify;
  line-height: 1.3;
  font-size: 1.4rem;
  color: #1a1a1a;
  font-family: "Merriweather Sans", sans-serif;
}
.links {
  display: block;
  gap: 10px;
}
.links a {
  border: 1px solid black;
  padding: 3px 7px 3px 7px;
  text-decoration: none;
  background-color: #1a1a1a;
  font-size: 1.2rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s ease-in-out;
}
.links a:hover{
  color: #b0b0b0;
} 
.contact p {color: white;
margin: 20px;}
.icons { display: flex;
align-items: center;
justify-content: center;
gap: 15px;} 
.icons a{color: white;} 
footer p {
  text-align: right;
  color: white;
}
@media (max-width: 768px){
 .about {
  top: 5px;
  left: 80px;
 }
 h1 {
  font-size: 1rem;
  line-height: 1.3;
 }
 h2 {font-size: 2rem;}
 p{font-size: 1rem;}
 .project-box { width: auto;}
 .description {font-size: 1rem;}
 footer p {font-size: 0.8rem;
margin-bottom: 10px;}
h3{font-size: 1.3rem;}
}